# Environment file for creation of Quarto site
# This is seperate from the environment used in reproduction/
jupyter==1.0.0
pandas==2.2.2
plotly==5.22.0

# Use to test overlaying of images - but don't keep in future environments,
# as decided that overlay is not the right approach
opencv-python==4.9.0.80
matplotlib==3.9.0